body {
    width: 100%;
    max-width: 1024 px;
    margin: 0 auto;
    background-color: rgb(42, 3, 105);
    font-size: 62.5%
}

header,
main,
footer {
    background-color:  rgb(246, 248, 223);
    font-size:  1.6em;
}

header {
    padding:  1.875 em 0;
}

header h1 {
    text-align:  center;
}

h3 {
    text-align:  center;
    font-size 3.5 em;
}

p {
    text-align:  center;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}